
@{
    ViewBag.Title = "Data";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Contenedores</h1>
                    <ul>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Contenedores</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tabal de información</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Nro</th>
                                    <th>Imagen</th>
                                    <th>Tipo</th>
                                    <th>Usuario encargado</th>
                                    <th>Comentario(s)</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int t = 1;}
                                @foreach (var info in ViewBag.InfoContenedores)
                                {
                                    <tr id="@info.Id_tacho">
                                        <td><span>@t</span></td>
                                        <td><span id="imagen_@info.Id_tacho">@info.Imagenbase64</span></td>
                                        <td><span id="tipo_@info.Id_tacho">@info.TipoTacho</span></td>
                                        <td><span id="email_@info.Id_tacho">@info.Email_user</span></td>
                                        <td><span id="comentario_@info.Id_tacho">@info.Comentario</span></td>
                                        <td>
                                            <form action="/Tables/Eliminar" method="POST">
                                                <button id="btnEditar" type="button" class="btn btn-block btn-success" data-target="#MyModal" data-toggle="modal" value="@info.Id_tacho"><span><i class="nav-icon fas fa-edit"></i></span></button>
                                                <button id="btnEliminar" type="submit" class="btn btn-block btn-danger" value="@info.Id_tacho" name="btnEliminar"><span><i class="nav-icon fas fa-trash"></i></span></button>
                                            </form>
                                        </td>
                                    </tr>
                                    t++;
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nro</th>
                                    <th>Imagen</th>
                                    <th>Tipo</th>
                                    <th>Usuario encargado</th>
                                    <th>Comentario(s)</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<!-- Modal para editar -->
<div class="modal" id="MyModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Editar</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="/Tables/Editar" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Tipo</label>
                            <select class="custom-select" id="tipo-select">
                                <option value="Tacho">Tacho</option>
                                <option value="Contenedor">Contenedor</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputComentario">Comentario</label>
                            <input type="text" class="form-control" id="inputComentario" placeholder="Comentario">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Atendido</label>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-block btn-success">Guardar Cambios</button>
                        <button type="button" class="btn btn-block btn-secondary">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.Fin Modal Editar -->

<!-- Modal eliminar -->
<div class="modal fade" id="modalEliminar" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Eliminar</h3>
                </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputComentario">Se ha eliminado el contenedor</label>
                        </div>
                    </div>

                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="hidden-xs">Aceptar</span>
                    </button>
            </div>
        </div>
    </div>
</div>
<!-- /.Fin modal eliminar -->

<!-- page script -->
<script>

    $(document).ready(function () {
        $(document).on('click', '#btnEditar', function () {
            var id_tacho = $(this).attr('value');
            var tipo = $('#tipo_' + id_tacho).text();
            var comentario = $('#comentario_' + id_tacho).text();
            var email = $('#email_' + id_tacho).text();
            //var longitud = $('#longitud_' + id_tacho).text();
            //var latitud = $('#latitud_' + id_tacho).text();

            $('#tipo-select').val(tipo);
            $('#inputComentario').val(comentario);
            $('#inputEmail').val(email);
            /*$('#inputLatitud').val(comentario);
            $('#inputLongitud').val(comentario);*/
        });
    });
</script>

<!-- /.content-wrapper -->